### environment ###
.env
.env.*
!.env.example
auth.json
.config/
config.php
config.production.php

### dependencies (uneccessary here, but best practice anyway) ###
node_modules/
public/

### visual studio ###
*.sln
*.swp

.vscode
.vscode/
.vscode/*
